---
- name: "RaBe Foreman Content : Configure Sync Plans"
  ansible.builtin.include_role:
    name: theforeman.foreman.sync_plans
  vars:
    foreman_sync_plans:
      - name: Weekly Sync
        interval: weekly
        sync_date: 2020-11-07 00:00:00 UTC
        products:
          - CentOS 7
          - AlmaLinux 9
          - RaBe Ansible
          - Extra Packages for Enterprise Linux 7
          - Extra Packages for Enterprise Linux 9
          - Foreman Client 3.12 EL7
          - Foreman Client 3.12 EL9
          - Foreman Client 3.13 EL7
          - Foreman Client 3.14 EL9
          - Foreman Client 3.14 EL10
          - RaBe Logstash Addons EL7
          - Zabbix 3.0 (LTS) EL7
          - Zabbix 6.4 EL7
          - Zabbix 6.4 EL9
          - Zabbix 7.0 EL9
          - RaBe Linux EL7
          - RaBe Linux EL9
          - Paravel Systems EL7
          - LibreTime EL7
          - RaBe Liquidsoap Distribution for EL7
          - Nux Dextop EL7
          - RaBe Audio EL7
          - PostgreSQL 15 EL7
          - Trivy
