---
- name: "RaBe Foreman Playbook : Content View Publish"
  hosts: all
  gather_facts: false
  vars:
    rabe_foreman_content_views:
      - CentOS 7 Base x86_64
      - AlmaLinux 8 Base x86_64
      - AlmaLinux 9 Base x86_64
      - Zabbix 3.0 Agent EL7 x86_64
      - AlmaLinux 10 x86_64
    rabe_foreman_composite_content_views:
      - CentOS 7 x86_64
      - AlmaLinux 9 x86_64
  tasks:
    - name: "RaBe Foreman Playbook : Foreman : Content View Publish"
      ansible.builtin.include_role:
        name: theforeman.foreman.content_view_publish
      vars:
        foreman_content_views: "{{ rabe_foreman_content_views }}"
    - name: "RaBe Foreman Playbook : Foreman : Content View Publish (Composite)"
      ansible.builtin.include_role:
        name: theforeman.foreman.content_view_publish
      vars:
        foreman_content_views: "{{ rabe_foreman_composite_content_views }}"
